<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Articles</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="static\images\logo3.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <style>
        .btn2 {
            display: none;
        }
    </style>
</head>

<body class="h-14 bg-gradient-to-r from-violet-500 to-fuchsia-500">
    <header class="bg-[#111827] text-gray-100">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div>
                <img src="static\images\logo2.png" class="w-20 m-2 p-2 rounded-lg" alt="">
            </div>
            <div class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-purple-500" href="home.html">Home</a>
                    </li>
                    <li>
                        <a class="hover:text-purple-500" href="chat.html">Chat</a>
                    </li>
                    <li>
                        <select class="hover:text-purple-500 bg-[#111827] rounded-md w-24 cursor-pointer" onchange="location=this.value;">
                            <option value="#" src="#">AI Writers</option>
                            <option value="blog.html">Blogging</option>
                            <option value="market.html">Marketing Content</option>
                            <option value="ecom.html">e-Commerce Content</option>
                            <option value="news.html">News Article</option>
                            <option value="social.html">Social Media Content</option>
                            <option value="translate.html">Content Translation</option>
                            <option value="technical.html">Technical Writing</option>
                            <option value="academic.html">Academic Writing</option>
                        </select>
                    </li>
                    <li>
                        <a class="hover:text-purple-500" href="service.html">Services</a>
                    </li>
                    <li>
                        <a class="hover:text-purple-500" href="about.html">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button class="bg-purple-500 text-white px-5 py-2 rounded-full hover:bg-purple-700">Sign in</button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>
    <div class="flex text-white">
        <div class="right w-full  text-white flex justify-center items-center flex-col">
            <div class="text-center w-full text-4xl font-bold mt-10 mb-10">
                SmartPenCraft
            </div>

            <div class="flex w-10/12 justify-center items-center">
                <div class="flex flex-col md:flex-row md:space-x-6 space-y-6 md:space-y-0 bg-purple-700 w-full p-8 rounded-2xl shadow-2xl text-white overflow-hidden">
                    <div class="flex flex-col space-y-8 justify-around">
                        <div>
                            <h1 class="font-bold text-2xl tracking-wide justify-center items-center">
                                Your News Article:
                            </h1>
                            <p class="text-sm pt-2">
                                Insert detailed directions of the topic to be covered. "For example, if you want the text to talk about vacations in Italy, you should provide a bulleted list of all the places you want the text to mention."
                            </p>
                            <textarea name="" id="ansbox" cols="30" rows="18" class="text-gray-800 bg-pink-200 ring-1 ring-gray-500 w-full rounded-lg p-4 m-2 outline-none focus:ring-2 focus:ring-purple-400" placeholder="News (example) :  
'The number of people choosing to spend their vacations in Italy has seen a significant increase, according to recent data. This surge in popularity can be attributed to various factors that make Italy an attractive destination for tourists. .....'"></textarea>
                        </div>
                    </div>

                    <div class="relative">
                        <div class="absolute z-0 w-32 h-32 md:bg-fuchsia-500 lg:bg-fuchsia-500 rounded-full  -top-20">

                        </div>
                    </div>
                    <div class="relative">
                        <div class="absolute z-0 w-32 h-32 md:bg-fuchsia-500 lg:bg-fuchsia-500 rounded-full -bottom-28">

                        </div>
                    </div>

                    <div>
                        <div class="relative z-10 bg-slate-400 p-8 rounded-2xl shadow-2xl text-gray-800 md:w-120">
                            <form action="" class="flex flex-col space-y-4" onsubmit="return false">
                                <div>
                                    <label for="" class="text-lg font-semibold"> 
                                        Instruction / Description of Facts:
                                    </label>
                                    <textarea name="" id="description" cols="30" rows="5" class="ring-1 ring-gray-500 w-full rounded-lg p-4 m-2 outline-none focus:ring-2 focus:ring-purple-400" placeholder="Write the instructions or descriptions of the facts"></textarea>
                                </div>
                                <div>
                                    <label for="language" class="text-lg font-semibold"> 
                                        Language:
                                    </label>
                                    <select name="language" id="language" class="ring-1 ring-gray-500 w-full rounded-lg p-4 m-2 outline-none focus:ring-2 focus:ring-purple-400">
                                        <option value="English">English</option>
                                        <option value="Hindi">Hindi</option>
                                        <option value="Sanskrit">Sanskrit</option>
                                        <option value="Bulgarian">Bulgarian</option>
                                        <option value="Czech">Czech</option>
                                        <option value="Danish">Danish</option>
                                        <option value="German">German</option>
                                        <option value="Greek">Greek</option>
                                        <option value="English (American)">English (American)</option>
                                        <option value="Spanish">Spanish</option>
                                        <option value="Estonian">Estonian</option>
                                        <option value="Finnish">Finnish</option>
                                        <option value="French">French</option>
                                        <option value="Hungarian">Hungarian</option>
                                        <option value="Indonesian">Indonesian</option>
                                        <option value="Italian">Italian</option>
                                        <option value="Japanese">Japanese</option>
                                        <option value="Lithuanian">Lithuanian</option>
                                        <option value="Latvian">Latvian</option>
                                        <option value="Dutch">Dutch</option>
                                        <option value="Polish">Polish</option>
                                        <option value="Portuguese">Portuguese</option>
                                        <option value="Romanian">Romanian</option>
                                        <option value="Russian">Russian</option>
                                        <option value="Slovak">Slovak</option>
                                        <option value="Slovenian">Slovenian</option>
                                        <option value="Swedish">Swedish</option>
                                        <option value="Turkish">Turkish</option>
                                        <option value="Ukrainian">Ukrainian</option>
                                        <option value="Chinese">Chinese</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="tone" class="text-lg font-semibold"> 
                                        Tone of Voice:
                                    </label>
                                    <select name="tone" id="tone" class="ring-1 ring-gray-500 w-full rounded-lg p-4 m-2 outline-none focus:ring-2 focus:ring-purple-400">
                                        <option value="Neutral">Neutral</option>
                                        <option value="Assertive">Assertive</option>
                                        <option value="Convincing">Convincing</option>
                                        <option value="Formal">Formal</option>
                                        <option value="Professional">Professional</option>
                                        <option value="Humorous">Humorous</option>
                                        <option value="Passionate">Passionate</option>
                                        <option value="Happy">Happy</option>
                                        <option value="Joyful">Joyful</option>
                                        <option value="Sad">Sad</option>
                                        <option value="Angry">Angry</option>
                                    </select>
                                </div>
                                <button id="writeButton" class="writeButton  inline-block self-end bg-purple-700 text-white font-semibold rounded-lg px-7 py-3 uppercase text-sm hover:scale-[1.09] transform transition duration-300">
                                    Start Writing
                                </button>
                                <button id="btn2" class="btn2  inline-block self-end bg-purple-700 text-white font-semibold rounded-lg px-7 py-3 uppercase text-sm hover:scale-[1.09] transform transition duration-300">
                                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                                    </svg>
                                    Loading...
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="mt-10">
        <div class="p-10 bg-[#111827] text-gray-100">
            <div class="max-w-7xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
                    <div class="mb-4">
                        <h4 class="text-lg pb-4 ">SmartPenCraft</h4>
                        <p class="text-gray-400">
                            Jaypee Institute Of <br> Information Technology,<br> Noida, India<br> <br>

                            <strong>Phone :</strong> +91 86904 09766<br>
                            <strong>Email :</strong> adityaryk123@gmail.com
                        </p>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-lg pb-4">Useful Links</h4>
                        <ul class="text-gray-400">
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="home.html" target="_blank">Home</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="about.html" target="_blank">About Us</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="service.html" target="_blank">Services</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="term.html" target="_blank">Terms of Services</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="privacy.html" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-lg pb-4">Our Services</h4>
                        <ul class="text-gray-400">
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="chat.html" target="_blank">Chat</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="news.html" target="_blank">News Article</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="social.html" target="_blank">Social Media Content</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="translate.html" target="_blank">Content Translation</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="academic.html" target="_blank">Academic Writing</a></li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-lg pb-4">Join Our NewsLetter</h4>
                        <p class="text-gray-400 pb-2">Join us for new tips, tutorials, and more...</p>
                        <form action="" class="flex flex-row flex-wrap">
                            <input type="text" name="" id="" class="text-gray-400 w-2/3 p-2 focus:border-purple-500" placeholder="email@example.com">
                            <button class="p-2 w-1/3 bg-purple-500 text-white hover:bg-purple-700">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-gray-900 text-gray-500 px-10">
            <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-around items-center">
                <div class="text-center">
                    <div>
                        <i class="fa fa-copyright"></i> 2023 Copyright <strong><span>SmartPenCraft</span></strong>. All Rights Reserved.
                    </div>
                    <div>
                        Designed by <a href="https://www.linkedin.com/in/aditya-shrivastava-14b6a6222/" class="text-purple-500">Aditya Kumar</a>
                    </div>
                </div>
                <div class="text-center text-xl text-white mb-2">
                    <a href="mailto:adityaryk123@gmail.com" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.instagram.com/shrivastava_aditya_/#" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100009027675998" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-facebook"></i></a>
                    <a href="https://github.com/shrivastavaditya" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/aditya-shrivastava-14b6a6222/" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        const navLinks = document.querySelector('.nav-links')

        function onToggleMenu(e) {
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
    <script src="/static/js/script.js">
    </script>
</body>

</html>