<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Articles</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body class="h-14 bg-gradient-to-r from-violet-500 to-fuchsia-500">
    <div class="flex h-[100vh] text-white">
        <div class="left bg-[#111827] w-1/12">

        </div>
        <div class="right w-11/12  text-white flex justify-center items-center flex-col">
            <div class="text-center w-full text-4xl font-bold mb-10">
                SmartPenCraft
            </div>

            <div class="form">

            </div>
        </div>
    </div>

</body>

</html>