<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="static\images\logo3.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>

<body class=" h-14 bg-gradient-to-r from-violet-500 to-fuchsia-500">
    <header class="bg-[#111827] text-gray-100">
        <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div>
                <img src="static\images\logo2.png" class="w-20 m-2 p-2 rounded-lg" alt="">
            </div>
            <div class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-purple-500" href="home.html">Home</a>
                    </li>
                    <li>
                        <a class="hover:text-purple-500" href="chat.html" target="_blank">Chat</a>
                    </li>
                    <li>
                        <select class="hover:text-purple-500 bg-[#111827] rounded-md w-24 cursor-pointer" onchange="location=this.value;">
                            <option value="#" src="#">AI Writers</option>
                            <option value="blog.html">Blogging</option>
                            <option value="market.html">Marketing Content</option>
                            <option value="ecom.html">e-Commerce Content</option>
                            <option value="news.html">News Article</option>
                            <option value="social.html">Social Media Content</option>
                            <option value="translate.html">Content Translation</option>
                            <option value="technical.html">Technical Writing</option>
                            <option value="academic.html">Academic Writing</option>
                        </select>
                    </li>
                    <li>
                        <a class="hover:text-purple-500" href="service.html" target="_blank">Services</a>
                    </li>
                    <li>
                        <a class="hover:text-purple-500" href="about.html" target="_blank">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button class="bg-purple-500 text-white px-5 py-2 rounded-full hover:bg-purple-700">Sign in</button>
                <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
    </header>


    <div class="max-w-full md:py-[80] py-5 mx-auto">
        <h1 class="text-4xl text-center">Our Services</h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 px-20 justify-items-center items-center justify-around text-center">

        <div class="box bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-solid fa-blog animate-bounce"></i><br>
            <a href="blog.html" target="_blank" class="go text-lg p-2 font-semibold">Blogging</a><br>
            <a href="blog.html" target="_blank">It can generate engaging blog posts on various topics, helping individuals and businesses maintain consistent and frequent updates on their blogs.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-solid fa-store animate-bounce"></i><br>
            <a href="market.html" target="_blank" class="go text-lg p-2 font-semibold">Marketing Content</a><br>
            <a href="market.html" target="_blank">Instrumental in crafting persuasive ad copies, social media posts, email marketing campaigns, and landing pages, enhancing marketing efforts and driving conversions.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-solid fa-at animate-bounce"></i><br>
            <a href="ecom.html" target="_blank" class="go text-lg p-2 font-semibold">E-commerce Content</a><br>
            <a href="ecom.html" target="_blank">It can create detailed and compelling product descriptions for e-commerce websites, making it easier for consumers to understand and evaluate products.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-regular fa-newspaper animate-bounce"></i><br>
            <a href="news.html" target="_blank" class="go text-lg p-2 font-semibold">News Articles</a><br>
            <a href="news.html" target="_blank">SmartPenCraft is capable of generating news articles quickly, allowing media outlets to cover breaking news and trending topics more efficiently.</a><br>

        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="far fa-comment animate-bounce"></i><br>
            <a href="chat.html" target="_blank" class="go text-lg p-2 font-semibold">Chat</a><br>
            <a href="chat.html" target="_blank">SmartPenCraft can answer all types of queries.You can also use this sectio to write something which has not been mentioned in the other eight options.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-brands fa-instagram animate-bounce"></i><br>
            <a href="social.html" target="_blank" class="go text-lg p-2 font-semibold">Social Media Content</a><br>
            <a href="social.html" target="_blank">It can produce social media posts, tweets, and captions, enabling individuals and businesses to maintain an active and engaging presence on various platforms.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-solid fa-language animate-bounce"></i><br>
            <a href="translate.html" target="_blank" class="go text-lg p-2 font-semibold">Content Translation</a><br>
            <a href="translate.html" target="_blank">This service facilitates the translation of content between different languages, broadening the reach of content to international audiences.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-solid fa-compass-drafting animate-bounce"></i><br>
            <a href="technical.html" target="_blank" class="go text-lg p-2 font-semibold">Technical Writing</a><br>
            <a href="technical.html" target="_blank">It can produce technical documentation, manuals, and guides, making it easier for users to understand complex products or processes.</a><br>
        </div>

        <div class="box  bg-purple-500 p-4 rounded-2xl shadow-2xl hover:bg-purple-700 hover:scale-[1.09] transform transition duration-300">
            <i class="fa-solid fa-school animate-bounce"></i><br>
            <a href="academic.html" target="_blank" class="go text-lg p-2 font-semibold">Academic Writing</a><br>
            <a href="academic.html" target="_blank">SmartPenCraft can help students and researchers by generating reference materials, summaries, and even preliminary drafts for academic papers.</a><br>
        </div>

    </div>

    <footer class="mt-10">
        <div class="p-10 bg-[#111827] text-gray-100">
            <div class="max-w-7xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
                    <div class="mb-4">
                        <h4 class="text-lg pb-4 ">SmartPenCraft</h4>
                        <p class="text-gray-400">
                            Jaypee Institute Of <br> Information Technology,<br> Noida, India<br> <br>

                            <strong>Phone :</strong> +91 86904 09766<br>
                            <strong>Email :</strong> adityaryk123@gmail.com
                        </p>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-lg pb-4">Useful Links</h4>
                        <ul class="text-gray-400">
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="home.html" target="_blank">Home</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="about.html" target="_blank">About Us</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="service.html" target="_blank">Services</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="term.html" target="_blank">Terms of Services</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="https://www.privacy-policy-template.com/live.php?token=raSLtnhkTEvFDnII76kgQOiTljCzMEBl" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-lg pb-4">Our Services</h4>
                        <ul class="text-gray-400">
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="chat.html" target="_blank">Chat</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="news.html" target="_blank">News Article</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="social.html" target="_blank">Social Media Content</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="translate.html" target="_blank">Content Translation</a></li>
                            <li class="pb-4 hover:text-purple-500"><i class="fa fa-chevron-right px-4 text-purple-500"></i><a href="academic.html" target="_blank">Academic Writing</a></li>
                        </ul>
                    </div>
                    <div class="mb-5">
                        <h4 class="text-lg pb-4">Join Our NewsLetter</h4>
                        <p class="text-gray-400 pb-2">Join us for new tips, tutorials, and more...</p>
                        <form action="" class="flex flex-row flex-wrap">
                            <input type="text" name="" id="" class="text-gray-400 w-2/3 p-2 focus:border-purple-500" placeholder="email@example.com">
                            <button class="p-2 w-1/3 bg-purple-500 text-white hover:bg-purple-700">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-gray-900 text-gray-500 px-10">
            <div class="max-w-7xl flex flex-col sm:flex-row py-4 mx-auto justify-around items-center">
                <div class="text-center">
                    <div>
                        <i class="fa fa-copyright"></i> 2023 Copyright <strong><span>SmartPenCraft</span></strong>. All Rights Reserved.
                    </div>
                    <div>
                        Designed by <a href="https://www.linkedin.com/in/aditya-shrivastava-14b6a6222/" class="text-purple-500">Aditya Kumar</a>
                    </div>
                </div>
                <div class="text-center text-xl text-white mb-2">
                    <a href="mailto:adityaryk123@gmail.com" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-envelope"></i></a>
                    <a href="https://www.instagram.com/shrivastava_aditya_/#" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100009027675998" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-facebook"></i></a>
                    <a href="https://github.com/shrivastavaditya" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/aditya-shrivastava-14b6a6222/" class="w-10 h-10 rounded-full bg-purple-500 hover:bg-purple-700 mx-1 inline-block pt-1"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script>
        const navLinks = document.querySelector('.nav-links')

        function onToggleMenu(e) {
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
</body>